@page "/"

@inherits DarimarSystemComponent

<PageTitle>Home</PageTitle>

<PageDefinitions>

    <PageContent>

        <h1>@DarimarSystemService?.GetLocalizedString("HelloWorld")</h1>

        Welcome to your new app.

    </PageContent>

</PageDefinitions>
