@page "/"

@inherits DarimarSystemComponent

<PageTitle>Home</PageTitle>

<PageDefinitions>

    <PreRenderingContent>
        <Loading />
    </PreRenderingContent>

    <PageContent>

        <h1>Hello, world!</h1>

        Welcome to your new app.

    </PageContent>

</PageDefinitions>
