@page "/"

@inherits DarimarSystemComponent

<PageTitle>Home</PageTitle>

@if (IsPreRendering)
{
    <PreRenderingContent>
        <Loading />
    </PreRenderingContent>
}
else if (ReadyToRender())
{

    <h1>Hello, world!</h1>

    @:Welcome to your new app.

}
else
{
    base.BuildRenderTree(__builder);
}
