@inject IServerApp ServerApp

@{
    ServerApp.Initialize();
}

<!DOCTYPE html>
<html>

    <head>
        @RawHTML.Head
        @*@RawHTML.IncludeStylesheet("DarimarSystemWebsite.styles.css")*@
        @RawHTML.IncludeIcon("favicon.ico", "png")
        <HeadOutlet @rendermode="StaticSettings.GlobalRenderMode" />
    </head>

    <body>
        <Routes @rendermode="StaticSettings.GlobalRenderMode" />
        @RawHTML.Scripts
    </body>

</html>
